body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: burlywood;
    margin: 10px;
    width: 20%;
    height: 10%;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div#output{
    background-color: rgb(255, 255, 255);
    text-align: center;
  }
  